<div id="<%= dom_id train %>">
  <p>
    <strong>Train number:</strong>
    <%= train.train_number %>
  </p>
  <p>
    <strong>Rating:</strong>
    <%= train.rating %>
  </p>
  <p>
    <strong>Departure station:</strong>
    <%= train.departure_station %>
  </p>

  <p>
    <strong>Termination station:</strong>
    <%= train.termination_station %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= train.departure_date %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= train.departure_time.strftime("%H:%M:%S") %>
  </p>

  <p>
    <strong>Arrival date:</strong>
    <%= train.arrival_date %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= train.arrival_time.strftime("%H:%M:%S") %>
  </p>

  <p>
    <strong>Ticket price:</strong>
    <%= train.ticket_price %>
  </p>

  <p>
    <strong>Train capacity:</strong>
    <%= train.train_capacity %>
  </p>

  <p>
    <strong>Number of seats left:</strong>
    <%= train.number_of_seats_left %>
  </p>
    <% if train.number_of_seats_left > 0 %>
      <%= link_to "Book", new_ticket_path(train_id: train.id, passenger_id: session[:user_id], ticket_price: train.ticket_price, departure_date: train.departure_date, departure_station: train.departure_station, termination_station: train.termination_station), class: 'btn btn-primary' %>
    <% end %>
</div>
