<div id="<%= dom_id ticket %>">
  <p>
    <strong>Confirmation Number:</strong>
    <%= ticket.confirmation_number %>
  </p>
  <p>
    <strong>Departure Date:</strong>
    <%= ticket.train.departure_date %>
  </p>

 <p>
    <strong>Departure Station:</strong>
    <%= ticket.train.departure_station %>
  </p>

 <p>
    <strong>Termination Station:</strong>
    <%= ticket.train.termination_station %>
  </p>

  <p>
    <strong>Ticket Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    
    <% if @passenger%>
    <strong>Booked By:</strong>
    <%= @passenger.name %>
    <% end %>
  </p>
  <p>
    <% if @for_passenger%>
    <strong>Booked For:</strong>
    <%= @for_passenger.name %>
    <% end %>
  </p>

</div>
