<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating %>
  </div>

  <div>
    <%= form.label :feedback, style: "display: block" %>
    <%= form.text_area :feedback %>
  </div>
   <div>
    <%= form.label :passenger_id, hidden: true %>
    <%= form.number_field :passenger_id, value: params[:passenger_id], hidden: true %>
  </div>
  <div>
    <%= form.label :train_id, hidden: true %>
    <%= form.number_field :train_id, value: params[:train_id], hidden: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
