<!DOCTYPE html>
<html>
  <head>
    <title>RailTicketing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
    <% if request.path != passenger_dashboard_index_path%>
    <% if session[:role] == "admin" %>
  <%= link_to "Back to Admin Dashboard", login_path, class: 'btn btn-primary' %>
<% else %>
  <%= link_to "Back to Passenger Dashboard", passenger_dashboard_index_path, class: 'btn btn-primary' %>
<% end %>
<% end %>
  </body>
</html>

